*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-contenido-extra-footer-varios{
    background-color: #510280;
    height: auto;
    padding: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
}

.contenedor-contenido-extra-footer-varios .contenedor-contenido-extra-footer{
    cursor: pointer;
}


.contenedor-icono-contenido-extra-footer{
    width: auto;
    height: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-icono-contenido-extra-footer .icono-fuego{
    font-size: 1rem;
    color: #ff0000;
    margin-bottom: 0.5rem;
}

.contenedor-info-contenido-extra-footer{
    overflow: hidden;
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*modo Landscape para dispositivos moviles*/
@media screen and (min-width: 320px) and (max-width: 932px) and (orientation: landscape){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.2rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 0.9rem;
    }
}

/*Tablets y laptops pequeñas*/
@media screen and (min-width: 768px) and (max-width: 1366px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.2rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 0.9rem;
    }
}

/*Laptops estandar*/
@media screen and (min-width: 1367px) and (max-width: 1440px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.4rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 1.1rem;
    }
}

/*Escritorio grandes*/
@media screen and (min-width: 1441px) and (max-width: 1920px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.6rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 1.3rem;
    }
}

/*TVs Full HD (1921px o mas)*/
@media screen and (min-width: 1921px) and (max-width: 3840px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.8rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 1.5rem;
    }
}

/*TVs 4K (3841px o mas)*/
@media screen and (min-width: 3841px) and (max-width: 4480px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 2rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 1.8rem;
    }
}

/*TVs 4481px o mas*/
@media screen and (min-width: 4481px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 2.2rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 2rem;
    }
}
